<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        padding: 15px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 50%;
        color: grey;
    }

    .seperator {
        position: relative;
        display: block;
        margin: 20px 0;
        border-bottom: 1px solid grey;
        width: 450px;
    }

    .valgrind-success {
        color: green;
    }

    .success {
        color: green;
    }

    .valgrind-failure {
        color: red;
    }

    .notice-start-header {
        background: #383838;
        display: inline-block;
        color: white;
        padding: 13px 12px;
    }

    .my-container {
        display: inline-block;
        position: absolute;
        max-width: 735px;
        left: 50%;
        transform: translateX(-50%);
    }

    .test-file-header {
        border: 2px solid #50b761;
        padding: 8px 16px 11px 16px;
    }

    .tests-output {
    }

</style>

<body>
<div class="my-container">
    <div>
        <% if (error && error.toString() !== "[object Object]") { %>
            <div style="font-family: monospace">
                <%- "<h2>Compliation Error, Details:</h2>" %>
                <%- error.toString().replace(/\n/g, "<br>").replace(/ /g, "&nbsp;") %>
                <%- "<br></br><hr></br>" %>
            </div>
        <% } else if (output && output.length !== 0) { %>
            <h2 class="test-file-header">Running test file: <a target="_blank" href="<%- testPath %>">tests.c</a>
                <div class="subtitle">(Use this file to understand why your code failed a certain test)</div>
            </h2>
            <br> <br>

            <div class="tests-output">
                <% output.forEach(function(test_info){ %>
                    <%- test_info.testOutput.replace(/\n/g, "<br>").replace(/\[OK\]/g, "<span class='success'>[OK]</span>").replace(/\+ Running/g, "<br><hr>+ Running").replace(/\[Failed\]/g, "<span class='valgrind-failure'>[Failed]</span>") %>
                    <br>
                    <% if(test_info.valgrindMessage !== "") { %>
                        <br>
                        <%- '<div class="valgrind-failure">' + test_info.valgrindMessage + '</div>' %>
                        <%- '<a target="_blank" href="' + test_info.valgrindOutputPath + '">full_valgrind_output.txt</a>' %>
                    <% } else { %>
                        <%- '<div><b class="valgrind-success">Valgrind</b> ran successfully (no leaks found)</div>' %>
                    <% } %>


                    <%- "<div class='seperator'></div>" %>
                <% }); %>
            </div>
            <%- "<br></br><hr></br>" %>
        <% } else { %>
            <div class="notice-start-header">
                <p>Notice! <br><br>
                    This website was not officially made by the Matam course, so take the tests here with a grain of
                    salt.</p>
                Also, make sure you know how to compile your code alone and test it by yourself,<br>
                it will probably be more important in later assignments / might show up in the test.

                <br><br>
                Good luck!

                <br><br>
                <b>Tests on Priority Queue:
                    <a target="_blank"
                       href="https://raw.githubusercontent.com/saar111/MTM_EX01/PriorityQueue/PriorityQueue/tests.c">tests.c</a>
                </b>
                <br>
                Tests on Event Manager:
                -Not published yet-
            </div>
        <% } %>
    </div>

    <br>
    <br>

    <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <h3>
                <label for="testType">Part to Test</label>
                <div class="subtitle"></div>
            </h3>
            <select name="testType" style="width: 330px;" class="form-control col-5" id="testType">
                <option value="pq" selected="selected">Priority Queue</option>
                <option value="date">date.c</option>
<!--                <option value="em">Event Manager</option>-->
            </select>
        </div>
        <br>
        <div class="form-group">
            <h3>
                <label for="projectFiles">Upload Project Files (.c + .h)</label>
                <div class="subtitle">
                    <br>
                    Example: priority_queue.h priority_queue.c <br>
                    Example: date.h date.c
                </div>
            </h3>
            <input type="file" class=form-control-file" id="projectFiles" name="projectFiles" value="Project Files"
                   multiple>
        </div>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Run Tests"
               onclick="this.parentNode.submit();this.parentNode.removeChild(this);">
        <div class="subtitle" style="font-size:88%;">(Might take 30-60 seconds to run)</div>
    </form>
</div>
</body>

</html>
