<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body {
        padding: 15px;
    }
</style>

<body>
<div>
    <% if (error && error.toString() !== "[object Object]") { %>
        <%- "<h2>Compliation Error, Details:</h2>" %>
        <%- error.toString().replace(/\n/g, "<br>") %>
        <%- "<br></br><hr></br>" %>
    <% } %>

    <% if (output && output.length !== 0) { %>
        <% output.forEach(function(test_output){ %>
            <%- test_output %>
            <%- "<br />" %>
        <% }); %>
        <%- "<br></br><hr></br>" %>
    <% } %>
</div>
<form action="/" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="projectFiles">Upload project files (.c + .h)</label>
        <input type="file" class=form-control-file" id="projectFiles" name="projectFiles" value="Project Files"
               multiple>
    </div>
    <div class="form-group">
        <label for="testType"> Part to test:</label>
        <select name="testType" class="form-control" id="testType">
            <option value="pq">Priority Queue</option>
            <option value="em">Event Manager</option>
        </select>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Upload">
</form>
</body>

</html>
