<html>
<head>
</head>

<body>
<div>
    <% if (error && error.toString() !== "[object Object]") { %>
        <%- "<h2>Compliation Error, Details:</h2>" %>
        <%- error.toString().replace(/\n/g, "<br>") %>
        <%- "<br></br></br>" %>
    <% } %>

    <% if (output && output.length !== 0) { %>
        <% output.forEach(function(test_output){ %>
            <%- test_output %>
            <%- "<br />" %>
        <% }); %>
        <%- "<br></br></br>" %>
    <% } %>
</div>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="projectFiles" value="Project Files" multiple>
    <select name="testType">
        <option value="pq">Priority Queue</option>
        <option value="em">Event Manager</option>
    </select>
    <br>
    <input type="submit" value="Upload">
</form>
</body>

</html>
